@model EmployeeViewModel


@inject IUnitOfWork _unitOfWork

@{
    var Departments = new SelectList(_unitOfWork.DepartmentRepository.GetAll(), "Id", "Name");
}
<div>
    <img src="~/Files/Images/@Model.ImageName" width="75" class="img-fluid rounded-circle"/>
</div>
<div class="form-group">
    <label asp-for="Name" class="col-form-label"></label>
    <input class=" form-control" asp-for="Name" readonly />
</div>
<div class="form-group">
    <label asp-for="Age" class="col-form-label"></label>
    <input class=" form-control" asp-for="Age" readonly />
</div>
<div class="form-group">
    <label asp-for="Salary" class="col-form-label"></label>
    <input class=" form-control" asp-for="Salary" readonly />
</div>
<div class="form-group">
    <label asp-for="Address" class="col-form-label"></label>
    <input class=" form-control" asp-for="Address" readonly />
</div>
<div class="form-check">
    <input class=" form-check-input" asp-for="IsActive" readonly />
    <label asp-for="IsActive" class="col-form-label"></label>
</div>
<div class="form-group">
    <label asp-for="Email" class="col-form-label"></label>
    <input class=" form-control" asp-for="Email" readonly />
</div>
<div class="form-group">
    <label asp-for="PhoneNumber" class="col-form-label"></label>
    <input class=" form-control" asp-for="PhoneNumber" readonly />
</div>
<div class="form-group">
    <label asp-for="HireDate" class="col-form-label"></label>
    <input class=" form-control" asp-for="HireDate" readonly />
</div>